<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperMockio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .service-desc {
              height: 200px; /* Initial height */
              overflow-y: auto; /* Enable vertical scrolling */
              vertical-align: middle;
              padding: 20px 0;
        }
  
      </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary text-center" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/logo.1.png" height="50"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/ui">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ui/services">Services</a>
          </li>
        </ul> 
      </div>
    </div>
  </nav>


<main class="m-4">
    <div class="row mt-4 justify-content-center">
        <div class="col-sm-8 mb-3 mb-sm-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><%= service.name %> <span class="card-subtitle badge text-bg-primary"><%= service.version %></span></h4>
              
              <p class="card-text service-desc"><%= service.description %></p>
              <a target="_blank" href="<%= `/ui/documentations/${service.name}/${service.version}` %>" class="btn btn-dark">Openapi Definition</a>
              
            </div>
          </div>
        </div>       

        
    </div>
    <div class="row">
        <% function getCardClass(method) {
            switch (method.toUpperCase()) {
                case 'GET':
                    return 'text-bg-success';
                case 'POST':
                 return 'text-bg-warning';
                case 'PUT':
                    return 'text-bg-warning';
                case 'DELETE':
                    return 'text-bg-danger';
                default:
                    return 'text-bg-secondary';
            }
          }
          
            function copyToClipboard(text) {
                const textArea = document.createElement('textarea');
                textArea.value = text;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand('copy');
                document.body.removeChild(textArea);
            }

          %>
          <div class="alert alert-warning" role="alert">
            It is recommended to use the mock via clients like Postman, Thunder Client or by another app.
            <strong> Browser testing (clicking the try button) is only recommended for GET requests.</strong>
          </div>
        <% for (let response of responses) { %>
        <div class="col-sm-4">
            <div class="card <%= getCardClass(response.method) %> mb-3" >
                <div class="card-header"><%= response.method.toUpperCase() %></div>
                <div class="card-body">
                  <h5 class="card-title"><%= process.env["SUPERMOCKIO_URL"]+response.path %></h5>
                  <p class="card-text">Status: <%= response.statusCode %></p>
                  <a target="_blank" href="<%= `/ui/mocks?name=${service.name}&version=${service.version}&path=${response.path}&statusCode=${response.statusCode}&method=${response.method}` %>" class="btn btn-dark">Try</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>

  
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>